.email-container {
  width: 600px;
  background-color: #edf3f5;
  margin-left: auto;
  margin-right: auto;
}

.invoice-header {
  padding: 40px 40px 0 40px;
}

.invoice-header h2 {
  font-family: bebas-neue-pro, sans-serif;
  color: #242424;
}
.invoice-header h6 {
  font-family: "MyriadPro-Regular";
  color: #1e1f21;
}

.invoice-card-header {
  padding: 10px 20px 0 20px;
  display: flex;
}

.invoice-card-header .card {
  border: none;
  border-radius: 12px;
  /* padding: 33px 43px 38px 40px; */
  padding: 20px 40px;
  box-shadow: 5px 5px 7px #d9d9d9;
  width: 180px;
  margin-left: 12px;
  min-height: 134px;
  max-height: 134px;
}

.invoice-card-header .card h5 {
  font-family: bebas-neue-pro, sans-serif;
  text-transform: uppercase;
  /* font-weight: 500; */
  /* font-weight: bold; */
  font-size: 14px;
  color: #000;
  margin: 0;
}

.invoice-card-header .card p {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: #1e1f21;
  line-height: 1.3;
  margin: 0;
}

.invoice-table {
  padding: 20px 0;
  background-color: white;
  border-radius: 12px;
  box-shadow: 5px 5px 7px #d9d9d9;
}
.invoice-table thead tr {
  background-color: #f2f2f2;
  border: none;
}
.invoice-table tbody tr td {
  padding: 20px !important;
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  border-bottom: 1px solid #f4f7f8;
}

.invoice-table table.dataTable thead th,
table.dataTable thead td {
  border: none;
  font-family: bebas-neue-pro, sans-serif;
  /* font-weight: 200; */
  font-size: 14px;
  color: #686868;
}

.invoice-table table.dataTable.no-footer {
  border: none;
}
#invoice-table-summary {
  display: flex;
  padding: 20px 40px 0 40px;
}

#invoice-table-summary .invoice-details tr td {
  border: none;
  padding: 0 !important;
}

#invoice-table-summary .invoice-details h5 {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin: 0;
  text-align: right;
  margin-left: auto;
  margin-right: 30px;
  color: #686868;
  margin-bottom: 8px;
}
#invoice-table-summary .invoice-details p {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  margin: 0;
  line-height: 1.3;
  margin-left: 12px;
  text-align: left;
  color: #686868;
  margin-right: 30px;
  margin-bottom: 8px;
}

#invoice-table-summary .balance-due h5 {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #000;
}
#invoice-table-summary .balance-due p {
  font-family: bebas-neue-pro, sans-serif;
  font-size: 24px;
  color: #000;
}

.invoice-table .details {
  padding: 5px 20px 0 20px;
}

.invoice-table .details h6 {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  color: #bababa;
  margin: 0;
}
.invoice-table .details p {
  font-family: "MyriadPro-Regular";
  font-size: 12px;
  margin: 0;
}
.invoice-table .details h4 {
  font-family: bebas-neue-pro, sans-serif;
  font-size: 14px;
  margin: 0;
  padding-bottom: 12px;
}

.invoice-table .details i {
  font-family: "MyriadPro-Regular";
  font-size: 10px;
  margin: 0;
}

@media (max-width: 700px) {
  .email-container {
    padding: 0;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    overflow: hidden;
  }
  .invoice-card-header {
    padding: 5px;
    display: flex;
  }
  .invoice-card-header .card {
    padding: 20px 20px;
    width: 160px;
    margin-left: 23px;
  }
  #invoice-table-summary{
    padding: 10px 20px 0 20px;
  }
   #invoice-table-summary table{
     margin-left: 0;
  }
  #invoice-table-summary .invoice-details h5{
    margin-right: 15px;
  }
  #invoice-table-summary .balance-due p{
    display: ruby;
  }
}
